{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Contents -->
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>


    <script>
    var data= JSON.parse(sessionStorage.getItem("data"));
    if (data==null) {
      alert('login dolo');
      $(location).attr('href', "{% url 'index' %}");
    }
	   $(document).ready(function(){
      $('#id_name').val(data["name"]);
    });
    </script>
    <div class="ui grid container" style="margin-bottom:5rem;margin-top:10rem">
      <div class="ui breadcrumb">
  <a href="{% url 'index' %}" class="section">Home</a>
  <div class="divider"> / </div>
  <div class="active section">Forum</div>
</div>
    <table class="ui celled striped table">
      <thead>
        <tr><th colspan="3">
          <h3>Forum BukaHati</h3>
        </th>
      </tr></thead>
      <tbody>
        {% for i in posts %}
        <tr>
          <td><a href="{% url 'forum:post' i.pk %}">{{ i.judul }}</a></td>
          <td class="right aligned collapsing">{{ i.created_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="ui celled striped table">
<form id="form" method="POST" action="{% url 'forum:add_post' %}" class="ui form">
      <thead>
        <tr><th colspan="3">
          <h3>Buat Forum</h3>
        </th>
      </tr></thead>
<tbody>
        {% csrf_token %}
        {{ post_form }}
        <tr>
                <td colspan="2">
                <button type="submit" class="ui button">Submit</button></td>

        </tr>
    </tbody>
</form>
    </table>

  </div>
{% endblock %}
