{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Contents -->
    <script>
	var data= JSON.parse(sessionStorage.getItem("data"));
      if (data==null) {
        alert('login dolo');
        $(location).attr('href', "{% url 'index' %}");
      }
    $(document).ready(function(){
      $('#id_name').val(data["name"]);
    });
    </script>
    <div class="ui grid container" style="margin-bottom:5rem;margin-top:10rem">
      <div class="ui breadcrumb">
  <a href="{% url 'index' %}" class="section">Home</a>
  <div class="divider"> / </div>
  <a href="{% url 'forum:index' %}" class="section">Forum</a>
  <div class="divider"> / </div>
  <div class="active section">{{ post.judul }}</div>
</div>
    <table class="ui celled striped table">
      <thead>
        <tr><th colspan="3">
          <h3>{{post.judul}}</h3>
        </th>
      </tr></thead>
      <tbody>
        <tr>
          <td>{{ post.content | safe }}</a></td>
        </tr>
      </tbody>
    </table>

    <table class="ui celled striped table">
      <thead>
        <tr><th colspan="3">
          <h3>Komentar</h3>
        </th>
      </tr></thead>
      <tbody>
        {% for i in comments %}
        <tr>
          <td>{{ i.content }}</td>
          <td class="right aligned collapsing">{{ i.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="ui celled striped table">
<form id="form" method="POST" action="{% url 'forum:add_comment' post.pk %}">
      <thead>
        <tr><th colspan="3">
          <h3>Balas Komentar</h3>
        </th>
      </tr></thead>
<tbody>
        {% csrf_token %}
        {{ comment_form }}
<tr>
        <td colspan="2">
        <button type="submit" class="ui button">Submit</button></td>

</tr>

    </tbody>
</form>
    </table>

  </div>
{% endblock %}
