{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Contents -->
    <script>
    var data= JSON.parse(sessionStorage.getItem("data"));
    if (data==null) {
      alert('login dolo');
      $(location).attr('href', "{% url 'index' %}");
    }
    $(document).ready(function(){
      $('#nama').html('<h2 class="ui header">'+data["name"]+'</h2>');
      $('#propic').html('<img class="picture" src="' + data["squareLogoUrl"] + '" alt="profpic" />');
      $('#web').html('<a href='+data["websiteUrl"]+'><h3 class="ui header">'+data["websiteUrl"]+'</h3></a>');
      $('#tipe').html('<h3 class="ui header">'+data["companyType"]["name"]+'</h3>');
      $('#spec').html('<h3 class="ui header">'+data["specialties"]["values"]+'</h3>');
    });
    </script>
    <div class="ui two column centered grid" style="margin-top:5rem; margin-bottom:2rem">
    <div class="column center aligned" id="propic">lol</div>
    <div class="four column centered row">
    <div class="column center aligned" id="nama">lol</div>
  </div>
    <div class="four column centered row">
      <div class="right aligned column">
        <a class="huge ui button" href="{% url 'forum:index' %}">Lihat Forum</a>
        
      </div>
      <div class="left aligned column"><button class="huge ui button">
        Cari Mahasiswa
        </button>
      </div>
    </div>
   </div>
   <div class="ui grid container" style="margin-bottom:5rem">
   <div class="seven column row">
     <div class="three wide column"><h3 class="ui header">Tipe Perusahaan</h3></div>
     <div class="one wide column"><h3 class="ui header">:</h3></div>
     <div class="three wide column" id="tipe"><h3 class="ui header">Nonprofit</h3></div>
   </div>
   <div class="seven column row">
     <div class="three wide column"><h3 class="ui header">Website Perusahaan</h3></div>
     <div class="one wide column"><h3 class="ui header">:</h3></div>
     <div class="three wide column" id="web">lol</div>
   </div>
   <div class="seven column row">
     <div class="three wide column"><h3 class="ui header">Spesialitas</h3></div>
     <div class="one wide column"><h3 class="ui header">:</h3></div>
     <div class="three wide column" id="spec">lol</div>
   </div>
 </div>
{% endblock %}
