{% extends "base.html" %}
{% load static %}

{% block content %}

    <script src="{% static 'login_page.js' %}"></script>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu" style="padding:5px; border:0px;">
                    <a class="toc item" style="padding-right: 10px; padding-left: 10px;">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="header item" style="padding:3px;" id="header-item">
                        <img class="logo" style="margin-right: 10px;" src="{% static 'images/logo-a.jpg' %}">
                        Home
                    </a>

                    <!--
                    <div class="ui fluid category search" style="margin-left: 10px;">
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Cari perusahaan atau pekerjaan" style="width: 270px;">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    -->

                    <div class="right item" id="login-buttons-menu">
                        <a class="ui inverted button" id="login-mahasiswa-menu">Mahasiswa?</a>
                        <a class="ui inverted button" id="login-perusahaan-menu" onclick="liAuth()">Perusahaan?</a>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header"><b>#CariYangTerbaik</b></h1>
                <h2>Menghubungkan Orang-orang Terbaik dan Perusahaan Terbaik</h2>
                <div class="ui huge primary button" id="carikerja" style="margin:3px;">Cari Pekerjaan <i class="right arrow icon"></i></div>
                <div class="ui huge primary button" id="cariperu"  onclick="liAuth()" style="margin:3px;">Cari Karyawan <i class="right arrow icon"></i></div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui text container">
              {% for i in posts %}
                <h2 class="ui header">
                    <img class="ui image" src="{% static 'images/gedung.png' %}">
                    <div class="content">
                        {{i.name}}
                    </div>
                </h2>
                <p>
                {{i.content | safe }}
                </p>
                <a href="{% url 'post' i.pk %}" class="ui large button">Lihat Komentar</a>
                <div class="ui divider"></div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
