{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Page Contents -->
            <div class="ui text container" style="margin-top:10rem;margin-bottom:5rem">
              {% if messages %}
              <strong>Alert</strong>
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
                <h2 class="ui header">
                    <img class="ui image" src="{% static 'images/gedung.png' %}">
                    <div class="content">
                        {{post.name}}
                    </div>
                </h2>
                <p>
                {{post.content | safe }}
                </p>

                <div class="ui comments" style="margin-top:3rem">
                  <h3 class="ui dividing header">Komentar</h3>
                  {% for i in comments %}
                  <div class="comment">
                    <a class="avatar">
                      {% if i.name == post.name %}
                      <img class="ui image" src="{% static 'images/gedung.png' %}">
                      {% else %}
                      <img src="{% static 'images/matt.jpg' %}">
                      {% endif %}
                    </a>
                    <div class="content">
                      <a class="author">{{i.name}}</a>
                      <div class="metadata">
                        <span class="date">{{i.created_date}}</span>
                      </div>
                      <div class="text">
                        {{i.content}}
                      </div>
                    </div>
                </div>
                {% endfor %}
                <h3 class="ui dividing header" style="margin-top:3rem">Balas Komentar</h3>
                <form class="ui form" method="POST" action="{% url 'add_commentlog' post.pk %}">
                  {% csrf_token %}
                  <div class="field">
                    <label>Nama</label>
                    <input name="name"  type="text">
                  </div>
                  <div class="field">
                    <label>Komentar</label>
                    <textarea name="content"></textarea>
                  </div>
                  <button type="submit" class="ui button">Submit</button>
                  <div class="ui error message"></div>
                </form>
            </div>
</div>

{% endblock %}
