{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>T2KA</title>
        <link rel="icon" href="static/images/logo-a.jpg">

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />    

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <!-- Linkedin Login -->
        <script type="text/javascript" src="//platform.linkedin.com/in.js">
            api_key:   78qqeyrwubzt92
            authorize: true
            onLoad: onLinkedInLoad
        </script>
        <script type="text/javascript" src="{% static 'js/linkedin_login.js' %}"></script>
    
    </head>

    <body>
        <!--<div id="cover" ><img src="{% static 'images/rolling.gif' %}" style="display:block; position: absolute; top:0; left: 0; right: 0; bottom: 0; margin: auto;"></div>-->

        <div id="container">
            {% include "sidebar.html" %}

            <header>
                {% include "header.html" %}
            </header>
    
            {% block content %}
            {% endblock %}
    
            <footer>
                {% include "footer.html" %}
            </footer>
        </div>
    </body>
</html>
