{% load static %}
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <img src="{% static 'images/logo-a.jpg' %}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
