<!-- Following Menu -->
{% load static %}
<div class="ui large top fixed inverted menu">
    <div class="ui container">
        <a href="{% url 'index' %}" class="header item" id="navbar-item">
            <img class="logo" style="margin-right: 10px;" src="{% static 'images/logo-a.jpg' %}">
            Home
        </a>
        <div class="right menu" id="login-buttons-navbar">
            <div class="item" id="login-mahasiswa-navbar">
                <a class="ui primary button">Cari Pekerjaan</a>
            </div>
            <div class="item">
                <a class="ui primary button" id="login-perusahaan-navbar" onclick="liAuth()">Cari Karyawan</a>
            </div>
        </div>
    </div>
</div>