<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">About Us</a>
    <a class="item">Cari Pekerjaan</a>
    <a class="item">Cari Karyawan</a>
</div>